*{
    margin:0px;
    padding:0px;
}
#first-img{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://bit.ly/387CGKT);
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position: top;
    position: absolute;
    z-index: -1;
}
#body{
    overflow-y:scroll;
}
    

#navbar{
    height:60px;
    width:100%;
 
    background: rgba(6, 4, 22, 0.3);
    display: flex;
    justify-content: space-between;
    position: relative;
}
#logo{
    width:auto;
    height:33px;
    margin-left:40px;
    margin-top:15px ;
}
ul{
   list-style-type: none;
    
}
ul li{
    display:inline-block;
    margin:20px 30px;
}
ul li a {
    text-decoration: none;
   color:white;
    padding:5px 15px;
    border:1px solid white;
    transition:0.7s ease;
}

ul li a:hover{
    color:black;
    background: #fff;
    transform:scale(1.9);
}

#title{
    top:350px;
    position: absolute;
    left:35%;
    right:35%;
    text-align: center;
    color:white;
    font-weight: 300;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
}
.undertitle{
    top:400px;
    position: absolute;
    left:40%;
    right:40%;
    text-align:center;
    color:rgb(185, 40, 40);
    font-weight: 600;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
}

#content{
    display:flex;
    
    height:600px;
    position: absolute;
    z-index: 2;
    top:663px;
    right: 0px;
    left:0px;
    background-color: rgb(207, 199, 199);
    justify-content: space-around;

}

#box1{
width: 300px;
height: 390px;
margin-top:110px;
border:1px solid black;
border-radius: 20px;

}
#box2{
width: 300px;
height: 390px;
margin-top:110px;
border:1px solid black;
border-radius: 20px;


}
#box3{
width: 300px;
height: 390px;
margin-top:110px;
border:1px solid black;
border-radius: 20px;

}

h3{
background: rgb(238, 255, 6);
height:30px;
width: auto;
text-align: center;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
font-family: sans-serif;
padding-top:5px;
}
.inside-img{
    width:300px;
    height:300px;
}
.inside-button{
    text-align: center;
    height: 60px;
    width: 300px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    background: rgb(42, 41, 41);
    color:rgb(195, 184, 184);
    margin-top:0px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    border:1px; 
    margin-top:-9px;    
}
button:hover{
color:rgb(238, 255, 0);
opacity: 0.8;
}
#inside-heading{
    position:absolute;
    top:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}
#footer{
    position: absolute;
    top:1263px;
    height:600px;
    width:100%;
    background: rgb(31, 31, 31);
    color:white;
    text-align: center;

}
#punchline{
   margin-top: 200px;
   font-size: 40px;
   font-weight: bolder;
}

#underpunch{
    color:rgb(206, 80, 80);
    font-size: 18px;
    font-weight: 500;
}
#links{
    margin: 30px;

}

.footerlogos{
    height:20px;
    width:20px;
}
.downlinks{
    font-size: 20px;
    text-decoration: none;
    color:white;
    margin:0px 10px;
    font-family: cursive;

}

#copywrite{
    color:rgb(129, 126, 126);
    margin:15px;
}
#line{
    border:1px solid rgb(207, 56, 56);
    margin-top: 220px;
    }
#right{
    float:right;
margin-right:20%;
}   
#left{
    float:left;
    margin-left:20%;
} 